<h1>Arthur</h1>

<p> Quelqu'un souhaite rejoindre sportifly</p>

<p> Nom: <%= @contact.name %> </p>

<p> Email: <%= @contact.email %> </p>

<p> Téléphone: <%= @contact.phone_number %></p>

<p> Message: <%= @contact.message %></p>


<p> Rappelle le ! Et signons un nouveau client !! :) </p>

