<h1>Bonjour <%= @user[0].name %></h1>

<p> Il y a une nouvelle activité pour toi. Sport concerné : <h2><%= @user[1] %></h2> </p>

<p> Réserve vite ! </p>

<p><%= link_to "Me connecter", root_path, class: 'btn btn-primary-inverted' %></p>

<p> A très bientôt sur Meetemps ! </p>

