<%
@group = User.where(email:@email).first.group_id

heure = @activity.date.strftime("%H:%M")
%>

<h1>UserMailer#reminder</h1>

<p> <%= @greeting %>, vous avez une activité à <%= heure %> ! </p>
<p> <%= link_to "Lien vers l'activité", group_activity_path(@group, @activity.id) %> </p>

<p> Bonne séance !</p>
