<button type="button" class="btn font-size-modal badge-color" data-toggle="modal" data-target="#modal-1">Badges</button>
  <div class="modal fade" id="modal-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Rules of badges</h3>
        </div>
        <div class="modal-body">
          <table class="table">
              <thead>
                <tr>
                  <th class="text-center">Badge</th>
                  <th class="text-center">Signification</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><img src="/images/badges/pecheur.png" alt="image"/></td>
                  <td>0 fly</td>
                </tr>
                <tr>
                  <td><img src="/images/badges/planche.png" alt="image"/></td>
                  <td>1-5 fly</td>
                </tr>
                <tr>
                  <td><img src="/images/badges/kawak.png" alt="image"/></td>
                  <td>5-10 fly</td>
                </tr>
                <tr>
                  <td><img src="/images/badges/canoe.png" alt="image"/></td>
                  <td>10-25 fly</td>
                </tr>
                <tr>
                  <td><img src="../../assets/images/badges/froome.png" alt="image"/></td>
                  <td>+25 fly</td>
                </tr>
                <tr>
                  <td><img src="/images/badges/suiveur.png" alt="image"/></td>
                  <td>+5 newsfeeds</td>
                </tr>
                <tr>
                  <td><img src="/images/badges/participant.png" alt="image"/></td>
                  <td>+10 newsfeeds</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-default" data-dismiss="modal"> Fermer </a>
        </div>
      </div>
    </div>
  </div>
