<footer>
  <ul class="text-center social-links list-inline">
    <li>
      <%= link_to 'http://twitter.com/TheoLemaitre' do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://facebook.com/theolemaitre' do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://linkedin.com/company/5046700?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A5046700%2Cidx%3A1-1-1%2CtarId%3A1445418556586%2Ctas%3Ale%20wagon' do %>
      <i class="fa fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://youtube.com/watch?v=AfiINIrFMRM' do %>
      <i class="fa fa-youtube"></i>
      <% end %>
    </li>
  </ul>
  <br>
  <p class="credits">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </p>
</footer>
