<footer class="footer">
  <div class="container">
    <div style="width: auto;float: left">
      <p class="footer-company-name text-footer">Meetemps &copy; 2017</p>
    </div>
    <div style="float: right">

      <a href="https://twitter.com/Meetemps" target="blank">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="http://facebook.com/Sportifly-926740550696609/?ref=br_rs" target="blank">
        <i class="fa fa-facebook"></i>
      </a>

      <a href="https://www.linkedin.com/company-beta/11191029/" target="blank">
        <i class="fa fa-linkedin"></i>
      </a>

    </div>
  </div>
</footer>