<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How does it work ?</h2>
                <hr class="light">
            </div>

            <div class="col-xs-12 col-sm-4 text-center reinssurance-item">
              <div icon-container >
                <i class="fa fa-4x fa fa-sign-in text-primary home-process "></i>
                  <p class="margin">I sign in with my professional email address</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center reinssurance-item">
              <div icon-container >
                <i class="fa fa-4x fa fa fa-bicycle text-primary home-process "></i>
                  <p class="margin">On Sportifly, i create an activity: foot, yoga, badminton </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center reinssurance-item">
              <div icon-container >
                <i class="fa fa-4x fa fa fa-comments-o text-primary home-process "></i>
                  <p class="margin">Or i join an activity from one of my colleague</p>
              </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="">Thursday, from 5 to 7pm, i will be able to play football with 9 of my colleagues coming from different departments that also signed up on Sportifly</p>
                <a href="#" class="btn btn-default btn-xl section-heading">Contact us to create your company's group</a>
            </div>
        </div>
    </div>
</section>

