<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2><%= t('home.creation_group_done')%></h2>
            <br>
            <%= link_to t('users.sign_in.log_in'), new_user_session_path, class: 'btn btn-default btn-xl wow tada'%>
        </div>
    </div>
</aside>

