<header>
    <div class="header-content">
        <div class="header-content-inner">
            <hr>
            <h2>The sport plateform that demystifies professional relationships</h2>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Request a demo</a>
        </div>
    </div>
</header>

