<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="">Sportifly</h2>
            <hr>
            <h2><%= t('home.sub_title') %></h2>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll"><%= t('home.demo') %></a>
        </div>
    </div>
</header>

