<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <br>
          <br>
          <h2 class="text-center">Ils utilisent Sportifly</h2>
          <br>
          <br>
            <div class="col-xs-12 col-sm-4">
                <a href="https://www.edhec.edu/fr"  target="_blank" class="portfolio-box">
                    <%= image_tag "edhec3.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Université
                            </div>
                            <div class="project-name">
                                EDHEC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="http://www.fondeville.com/" target="_blank" class="portfolio-box">
                    <%= image_tag "fondeville.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Entreprise
                            </div>
                            <div class="project-name">
                                Fondeville
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="http://www.icp.fr/" target="_blank" class="portfolio-box">
                    <%= image_tag "lacatho.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Université
                            </div>
                            <div class="project-name">
                                Université Catholique de Paris
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
    <br>
    <hr>
</section>

