<aside class="bg-dark">
    <div class="container text-center embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WYZr6khZX8k">
      </iframe>
    </div>
</aside>

