<header>
  <div class="container">
    <div class="row">
      <%= render 'shared/navbar' %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><%= t('contact.sent')%></p>
      <p><%= t('contact.back')%> <a href="http://meetemps.io"> meetemps.io</a> </p>
    </div>
  </div>
</header>

