/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}
.right-btn {
  right: 0px;
}

// Backgrounds

body {
  background-color: #FFF;
  font-weight: 400;
}
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-white {
  background: white;
}
.bg-blue {
  background: #77ccdd;
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-image {
  background: url(image_path('backgroundpic.jpeg')) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 90vh;

}

.bg-football {
  background: url(image_path('football2.png')) no-repeat center center;
  background-size: cover;
  position: bottom;
  height: 255px;
}

.sign-class{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-grey {
  background-color:#555;
  color:#eee;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.lobster-style {
  font-family: 'Lobster', cursive;
}


header {
  min-height: 0;
  padding: 40px 0;
}

.main-content {
  padding: 20px 0;
}
