- @activities3 = @group.activities.where("date > ?", Time.now, true)
- if @activities3.count == 1
  #map style=("width: 100%; height: 300px;margin-bottom:23px")
    - content_for(:after_js)
      javascript:
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({
            internal: { id: 'map' },
            provider: { scrollwheel: false }},
          function(){
            markers = handler.addMarkers(#{raw @hash.to_json});
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(8);
          });
        })
- elsif @activities3.count == 0
- else
  #map style=("width: 100%; height: 300px;margin-bottom:23px")
    - content_for(:after_js)
      javascript:
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({
            internal: { id: 'map' },
            provider: { scrollwheel: false }},
          function(){
            markers = handler.addMarkers(#{raw @hash.to_json});
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
