      <%    pinned = @group.activities.where("date > ? AND pinned = ?", Time.now, true)
            @activities = @group.activities.where("date > ? AND pinned != ?", Time.now, true)  
            @activities = pinned + @activities

            for ac in @activities
              nbr_participants = Booking.where(activity_id: ac.id).count.to_s
      %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card hard-border">   
            <div class="card-body">
              <img src="images/tete.png" class="head-icon">
              <span>
              <p class="card-text">Pigalle <%= ac.date.to_formatted_s(:short) %></p>
              <h4 class="card-title">
                <%= ac.name %>
              </h4>
              </span>
            </div>
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="bottom-fly">
              <div class="margin-fly">
                <div class="participants"><%= nbr_participants %> participants sur <%= ac.number_of_players %></div>
                <div class="ibelieveicanfly">
                  Je fly                  
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>