  <div class="card-columns"> 
    <% uri = URI.parse(request.original_url)
        user_list = []
        uris = uri.to_s
        users = User.where(group_id:current_user.group_id).all
        c = 0
        if uris.include? "?filter=1"
          @vestiaires = Newsfeed.joins(:user).where("users.group_id = " + current_user.group_id.to_s).order(:created_at => 'desc')
          @vestiaires = @vestiaires.last(15)
        else
          @vestiaires = Newsfeed.joins(:user).where("users.group_id = " + current_user.group_id.to_s).last(15)
        end
        @vestiaires = @vestiaires - @vestiaires.last(1)

          count = 0
          for ac in @vestiaires
            user_name = User.where(id:ac.user_id).first.name
    %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <%= user_picture(User.where(id:ac.user_id).first) %>
              <span>
              <p class="card-text">
                <%= link_to user_name, group_user_path(@group, ac.user_id), style:"color:black" %> - <%= ac.created_at.to_formatted_s(:short) %>
              </p>
              <h6 class="card-title">
                <%= ac.content %>
              </h6>
              </span>
            </div>
          </div>
        </div>

      <% end %>

</div>