<div class="container">

  <!-- Page Heading -->
  <div style="text-align:right;height:50px">
    <div style="margin-top:6px">
    Classer : <%= link_to 'À la une', root_path, class:'link_bar' %> | <%= link_to 'date', '?filter=1', class:'link_bar' %>
    </div>
  </div>

  <div class="card-columns">
    <%= render 'newsfeed' %>
  </div>
  <!-- /.row -->
</div>
    <!-- /.container -->