.activity h2 {
  color: $blue-theme;
}

.activity {
  margin: 10px 0;
}


.box-activity {
  border: 2px solid transparent;
  border-radius: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  background: $gray-background;
  box-shadow: 3px 3px 5px #aaa;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.home-sport-avatar {
  margin: auto;
  border-radius: 50%;
}

.group-pic {
  background: no-repeat;
  background-size: 100%;
}

.box-header {
  border: 2px solid transparent;
  border-radius: 1px;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px #aaa;

}

.btn-activity-creation {
  color: $blue-theme;
}

.activity-item--captain-avatar {
  display: inline-block;
  border-radius: 50%;
  height: auto;
  width: 50px;
  margin-right: 10px;
}

.activity-map {
  width: 100%;
}
