.activity h2 {
  color: $blue-theme;
}

.activity {
  margin: 10px 0;
}


.box-activity {
  border: 2px solid transparent;
  border-radius: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  background: $gray-background;
  box-shadow: 8px 8px 12px #aaa;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.home-sport-avatar {
  margin: auto;
  border-radius: 50%;
}
