.activity h2 {
  color: $blue-theme;
}

.activity {
  margin: 10px 0;
}


.box-activity {
  border: 2px solid transparent;
  border-radius: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  background: $gray-background;
  box-shadow: 3px 3px 5px #aaa;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.home-sport-avatar {
  margin: auto;
  border-radius: 50%;
}

.group-pic {
  background: no-repeat;
  background-size: 100%;
}

.box-header {
  border: 2px solid transparent;
  border-radius: 1px;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px #aaa;

}

.btn-activity-creation {
  color: $blue-theme;
}

.activity-item--captain-avatar {
  display: inline-block;
  border-radius: 50%;
  height: auto;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.activity-map {
  width: 100%;
}

.activity-player {
  display: inline-block;
  position: relative;
  margin-right: 10px;

  .badge-captain {
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;

    i {
      color: $theme-color-1;
      font-size: 30px;

    }
  }
}

.activity-presence-action {
  width: auto;
  display: inline-block;
  margin-right: 5px;
}

.activity-detailBox {
  width: 100% !important;
}

.activity-info-list {
  padding-left: 0;
  list-style: none;
}

.activity-page--participants-avatar {
  width: 100px;
  height: 100px;
}

.wrapper .text {
position:relative;
visibility:hidden;
color: #FBBC05;
font-family: "Courier New", Courier, monospace;
}

.wrapper:hover .text {
visibility:visible;
}

.badge-notif-home {
  position: absolute;
  top: -58px;
  right: 200px;
  width: 15px;
  height: 15px;
  size: 19px;
  color: red;
}

