
.box-info {
  border: 2px solid transparent;
  border-radius: 1px;
  background: #CCD2D6;
}

.box-header-dash {
  border: 2px solid transparent;
  border-radius: 12px;
  background: transparent;
  box-shadow: 1px 1px 1px 1px #aaa;
  margin-bottom: 21px;

}

.btn-mise-a-jour {
  background-color: $blue-theme;
  border-radius: 12px;
  color: #FFFFFF;
}

.dashboard--list {
  list-style: none;
  margin: 20px 0;
  padding-left: 0;
}

.td-remove-border {
  border: none;
}
