.connexion {

}


.connexion .form-group {
  margin-bottom: 5px;

}


.connexion .new-one {
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-top: 90px;
}

.connexion .new-two {
    position: absolute;
    margin-left:192px;
}

.connexion .new-three {
    position: absolute;
    display: inline-block;
    margin-left: 0px;
}

.connexion .remember-me {
  position: absolute;
  display: inline-block;
  margin-top: 56px;
  margin-left: -71px;

}

.connexion .new {
    background-color: lightgrey;
    padding: 20px;
 }

.connexion .new-texte {
    position: absolute;
    margin-left:0px;
}

.connexion .log-in {
    margin-left:0px;
}
