.hover {
  color: #FFFFFF;
  &:hover {
  color: #0075A2;
  }
}


.navbar {
  margin-bottom: 0;
}


.size-logo {
  width: 30px;
  height: 30px;
  margin-top: -3px;
}


.text-navbar {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
}


.btn-activity {
  border-radius: 24px;
}
