.panel-first {
  border-color: $theme-color-5;


  .panel-heading {
    background-color: $theme-color-5;
    border-color: $theme-color-5;
    color: #FFF;
  }
}

.panel-second {
  border-color: $theme-color-4;


  .panel-heading {
    background-color: $theme-color-4;
    border-color: $theme-color-4;
    color: #FFF;
  }
}

.panel .panel-content {
  padding: 10px;
}

.panel-third {
  border-color: $theme-color-2;


  .panel-heading {
    background-color: $theme-color-2;
    border-color: $theme-color-2;
    color: #FFF;
  }
}
