.link-voting {
  text-decoration: none;
  color: #77CCDD;
}

.link-voting:link {
  text-decoration: none;
  color: #77CCDD;

}

.link-voting:hover {
  text-decoration: none;
  color: #77CCDD;

}

.link-voting:active {
  text-decoration: none;
  color: #77CCDD;

}
